html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(13, 13, 13);
  color: #f1f1f1;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #f04e4e;
  padding: 0.5em 1em;
  border-radius: 5px;
}

section {
  padding: 2rem;
  
  margin: auto;
}

input, textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  background: #1a1a1a;
  border: 1px solid #444;
  color: #fff;
}

button {
  background: #e63946;
  border: none;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
}